<div class="jumbotron">
    @if (ViewBag.FetchedData != true)
    {
        <form action="/home/FetchData" method="post">
            <input type="text" name="date" value="01/01/2015" />
            <input type="text" name="count" value="5" />
            <input type="submit" value="FetchData" class="btn btn-primary" />
        </form>
    }
    <div>
        @if (ViewBag.AnalysedData != true)
            {
            <form action="/home/AnalyseData" method="post">
                <input type="submit" value="AnalyseData" class="btn btn-primary" />
            </form>
        }
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
        
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        
    </div>
</div>
